body {
    background-color: #D1D5DB;
}

.titlePage {
    text-align: center;
    text-transform: uppercase;
    padding-top: 22px;
    padding-bottom: 22px;
    font-weight: bold;
}

.textHome {
    text-align: center;
}

.titleReno {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gallery_box_single {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.caption-text {
    font-style: italic;
}

.nav-link {
    color: #F3F4F6 !important;
}

/* Céline */
/* nos clients témoignent */
.titleClient {
    font-family: 'Montserrat', sans-serif;
    padding-top: 22px;
    text-align: center;
    letter-spacing: 0.2rem;
}

.secondTitleClient {
    padding-top: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1rem;
}

.textClient {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

.margeClientTitle{
    margin-top: 50px;
}

.margeClientParagraphe{
    margin-top: 15px;
}

.imgAccueil:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.maconOcordoTitle{
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
}

footer{
    background-color: black;
    height: 5rem;
    color: white;
}

/* page error */
.imgerror{
    display: flex;
    justify-content: center;
}